# Entorno virtual
venv/

# Python cache
__pycache__/
*.pyc

# Variables de entorno
.env

# Logs
logs/

# Sandbox de ejecución
sandbox/

# Memoria local (opcional si no quieres subirla)
memory/memoria.json

# Archivos temporales de imágenes
*.jpg
*.png